{% extends 'padrao/base.html' %}

{% block conteudo %}

<div class="filtro">
    <h2>Filtro</h2>
    <div class="categoria1">
        <label class="label-categoria1" for="categoria">Categoria</label>
        <select class="placeholder-categoria1" name="categoria" id="categoria" required="">
            <option value="" disabled="" selected="">Selecione uma categoria</option>
            <optgroup label="Categorias">
                <option value="Refrigerante Lata 350ml">Refrigerante Lata 350ml</option>
                <option value="Refrigerante 1 Litro">Refrigerante 1 Litro</option>
                <option value="Sucos">Sucos</option>
                <option value="Água Mineral">Água Mineral</option>
                <option value="Refrigerante 500ml">Refrigerante 500ml</option>
            </optgroup>
        </select>
    </div>
    <div class="search">Buscar<i class="fa-solid fa-magnifying-glass fa-rotate-90"></i></div>
</div>

<div class="container">

    {% if produtos is empty %}
    <p class="nenhum_produto">Nenhum produto cadastrado.</p>
    {% else %}
    {% for produto in produtos %}
    <table class="tabela_produtos">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Validade</th>
                <th>Qtd</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr">
                <td>{{ produto.produto }}</td>
                <td>{{ produto.data_validade|date("d/m/Y") }}</td>

                <!-- DIV PARA GUARDAR URL USADA NO JAVA-SCRIPT PARA ATUALIZAÇÃO DE STATUS -->
                <div id="url_atualizar_quantidade" data-url-quantidade="{{ url('quantidade/atualizar') }}" style="display: none;"></div>

                <td class="editavel" data-id="{{ produto.id }}">{{ produto.quantidade }}</td>

                <td>
                    <a href="{{ url('produtoExcluir/' ~ produto.id) }}">
                        <i class="fa-solid fa-trash-can lixeira" style="color: black;" ></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="{% if produto.dias_restantes <= 15 %}vermelho{% elseif produto.dias_restantes <= 30 %}amarelo{% else %}verde{% endif %}">
                    {% if produto.dias_restantes < 0 %}
                        <i class="fa-solid fa-triangle-exclamation"></i> Produto vencido há <strong>{{ produto.dias_restantes|abs }} dias</strong>.
                    {% elseif produto.dias_restantes == 0 %}
                        Produto vence hoje.
                    {% else %}
                        {% if produto.dias_restantes == 1 %}
                            Falta <strong>{{ produto.dias_restantes }} dia</strong> para vencer.
                        {% else %}
                            Faltam <strong>{{ produto.dias_restantes }} dias</strong> para vencer.
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}


</div>



{% endblock %}