<div class="modal" id="modalCategoria">

    <div class="modal-conteudo">

        <div class="cadastroProduto">
            <h2 class="titulo">Cadastro de Categorias</h2>
            <!-- Botão (ícone) para fechar o modal -->
            <span class="fecharModal2"><i class="fa-solid fa-xmark"></i></span>

            <form action="{{ url('cadastrarCategoria') }}" method="post" class="form-produto1" id="form-nova_categoria" autocomplete="off" enctype="multipart/form-data">

                <div class="infoProduto1">
                    <div class="infoProduto2">
                        <label for="produto">Categoria</label>
                        <input type="text" name="nova_categoria" id="produto" value="" required placeholder="Nome da categoria">
                    </div>
                </div>
            </form>
            
            <div class="botoes1">
                <button class="btn btn1" type="submit" form="form-nova_categoria">Cadastrar</button>
                <button class="btn btn2" type="reset" form="form-nova_categoria">Limpar Campos</button>
            </div>




        </div>

    </div>

</div>