@charset "UTF-8";

:root {
    --fonte-do-titulo: 'Stagera', Arial, Helvetica, sans-serif;
    --fonte1: 'Roboto', Arial, Helvetica, sans-serif;
    --fonte2: 'Poppins', Arial, Helvetica, sans-serif;

    --cor1: #ff4858; 
    --cor2: #13533f; /*COR GERAL */
    --cor3: #e3f1f0;
    --cor4: #72f2eb;
    --cor5: #747f7f;

    --cor6: #eca39a;
    --cor7: #44d146;
    --cor8: #18607c;

    --branco: #ffffff;
    --preto: #000000;
    --amarelo: #f6ff00;

    --fundo-botão-configuração: #ffffff41;


    --tamanho0: 5px;
    --tamanho1: 10px;
    --tamanho2: 15px;
    --tamanho3: 20px;
    --tamanho4: 25px;
    --tamanho5: 30px;
    --tamanho6: 35px;
    --tamanho7: 40px;
    --tamanho8: 45px;
    --tamanho9: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    height: 100dvh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

header {
    background-color: --var(cor2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 5%;
}

header>.titulo1 {
    color: white;
    font-size: 22px;
}

section {
    background-color: var(--branco);
    height: 87%;
    width: 95%;
    max-width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@media screen and (min-width: 600px) {
    section {
        width: 400px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 225, 255, 0);
    position: fixed;
    bottom: 0px;
    
    width: 100%;
    height: 8%;
}
footer>.botoes{
    background-color: #ff007300;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 380px;
}
footer>.botoes>.btn-abrir{
    background-color: #0f7b3a00;
}
footer>.botoes>.btn-abrir>.fa-chart-bar,
footer>.botoes>.btn-abrir>.fa-pen-to-square{
    font-size: 35px;
    color: white;
}
@media screen and (min-width: 600px) {
    footer>.botoes>.btn-abrir>.fa-chart-bar,
    footer>.botoes>.btn-abrir>.fa-pen-to-square {
        font-size: 25px;
        color: white;
    }
}
footer>.direitos {
    font-size: 8px;
    height: 20%;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}